<div class="container" style="max-width: 550px">
    <h2 class="text-center mb-5">Log In With Google Account</h2>
  
    <div *ngIf='!isLoggedIn()'>
      <div>
        <mat-card>
            <mat-card-actions>
              <div>
                <button mat-raised-button>Login</button>
                <button (click)="signIn()" mat-raised-button class="google-login-btn">Google</button>
              </div>
            </mat-card-actions>
          </mat-card>
      </div>
    </div>
  
    <div *ngIf='isLoggedIn()'>
      <button type="button" (click)="logOut()" class="btn btn-primary">Log Out</button>
    </div>
</div>
